.statedev {
	color: #BDDB5D;
}

.stateincubation {
	color: #EE2365;
}

.statereleased {
	color: #6BC303;
}

.statearchived {
	color: #F7FAEB;
}

.roadmaptable { width: 80%; }
.roadmapcol1 { width: 20%; }
.roadmapcol2 { width: 60%; }
.roadmapcol3 { width: 20%; }