/* feuille de style correction pour ie7*/


/*** Page Offre ***/
ul.titres-footer li
{
    /*display: inline;*/
    list-style: none;
}


ul.titres-footer ul li

{
    line-height: 16px;
}

.derniere-ligne li
{
    display: inline;
}

/*** Barre horizontale menu recherche ***/

.menu-et-recherche
{
    overflow: hidden;
}



