.solutionContainer{
	
}

.solutionItem {
	width: 100%;
	background-color: #F1F1F1;
    margin-top: 10px;
    padding-left: 5.7%;
	height: 34px;
	margin-left: -0.5%;
}

.currentsolutionItem {
	background-color: #8DEAFB;
}

.solutionMenu {
	background-color: #FFFFFF;
	height: 4px;
    margin-top: 0;
}

.solutionItem a {
	color: #7E8564;
	text-decoration: none;
}

.solutionContent {
	float: left;
	margin-top: 13px;
    width: 37%;
    min-height: 180px;
}

.solutionImage {
	float: left;
    margin-top: -7.5%;
    text-align: center;
    width: 40%;
    z-index: 100;
    background-color: #FFFFFF;
}

.solutionLink {
	position: relative;
	top: -10px;
	left: -4px;
	height: 24px;
	font-size: 48px;
    font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 12px;
}

.solutionLinkMenu {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 8px;
	top: -16px;
	left: -3px;
}

.solutionLinkMore {
	color: #7E8564;
	text-decoration: none;
	font-weight: bold;
}

.solutionLinkMoreContainer {
	text-align: right;
	margin-top: 8px;
}

.player {
	margin-left: -98px;
	float: left;
}

.player:hover {
	cursor:pointer;
}

.titre-slide a h3 {
	font-weight:100;
}

