//
// OSIVIA Site - Custom properties
// --------------------------------------------------


// Core variables and mixins
@import "variables.less";
@import "mixins.less";



// Banner

.banner {
    position: relative;

    #logo {
        .header-line {
            position: absolute;
            top: 66px;
            left: 0;
            height: 18px;
            width: 100%;
            z-index: -1;
            
            background-color: @navigation-active-bg;
        }
        
        h1 {
            margin: 10px 0;
            padding-right: 5px;
            background-color: #fff;
        }
    }
    
    #shortcuts {
        position: absolute;
        top: @padding-small-vertical;
        right: 0;
        z-index: 3;
    }
    
    .accessibility-shortcut {
        position: absolute;
        top: -100px;
        left: 320px;
        z-index: 4;
        
        &:FOCUS {
            top: @padding-small-vertical;
        }
    }
    
    .portlet-container {
        margin: 0;
    }
}



// Navigation bar

@navigation-bar-height: 60px;
@navigation-line-height: 20px;

.navigation-bar {
    .clearfix;
    
    margin-bottom: @line-height-computed;

    .navigation-top-menu {
        float: left;
        
        background-color: @navigation-bg;
    }
    
    .navigation-search {
        float: right;
        height: @navigation-bar-height;
        
        background-color: @brand-primary;
        
        & > * {
            height: @navigation-bar-height - @navigation-line-height;
            padding: @navigation-line-height @padding-large-horizontal 0; 
            
            background-color: @body-bg;
        }
        
        .form-inline .form-group .input-group {
            width: 180px;
        }
    }
    
    .navigation-line {
        .clearfix;
        
        margin-top: @navigation-bar-height - @navigation-line-height;
        
        background-color: @navigation-bg;
    }
    
    #navigation-menu nav {
        ul {
            display: table;
            width: 100%; 
            margin: 0;
            
            li {
                display: table-cell;
                width: 1%;
                padding: 0;
                overflow: hidden;
                
                a {
                    display: block;
                    height: @navigation-bar-height;
                    line-height: @navigation-line-height;
                    font-size: @font-size-large;
                    padding: 0;
                    
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    white-space: nowrap;
    
                    &.active, &:HOVER {
                        background-color: @navigation-active-bg;
                        background-image: url("../img/arrow.png");
                        background-repeat: no-repeat;
                        background-position: center bottom;
                        color: @active-text;
                    }
                    
                    & > * {
                        display: block;
                        top: 0;
                        padding: @padding-large-vertical @padding-large-horizontal;
                        line-height: @navigation-line-height;
                        
                        background-color: @body-bg;
                    }
                    
                    @media screen and (max-width: @screen-sm-max) {
                        font-size: @font-size-base;
                        
                        & > * {
                            padding: @padding-large-vertical @padding-small-horizontal;
                        }
                    }
                }
            }
            
            @media screen and (max-width: @screen-xs-max) {
                display: block;
                width: auto;

                li {
                    display: block;
                    width: 33.3333%;
                    margin: 0 0 @padding-base-vertical;
                    
                    background-color: @navigation-bg;
                    
                    a {
                        border-radius: 0; 
                    }
                }
            }
        }
    }

    .portlet-container {
        margin: 0;
    }
}


// Footer

footer {
    margin: @line-height-computed 0;
    
    #footer-navigation {
        padding-top: @padding-small-vertical;

        background-color: @navigation-bg;

        nav {
            & > ul {
                display: table;
                width: 100%;
                margin: 0;
                padding: @padding-small-vertical @padding-small-horizontal;
                
                background-color: @navigation-active-bg;
                
                & > li {
                    display: table-cell;
                    width: 1%;
                    padding: @padding-base-vertical @padding-base-horizontal;
                    
                    border-left-style: solid;
                    border-left-width: 1px;
                    border-left-color: @gray-dark;
                    
                    &:FIRST-CHILD {
                        border: none;
                    }
                }
            }
            
            a {
                color: @gray-dark;
                
                &:HOVER, &:FOCUS {
                    color: @gray-darker;
                }
            }
        }
    }

    .portlet-container {
        margin: 0;
    }
}



// Navigation menu

.nuxeo-publish-navigation {    
    nav > a {
        margin-bottom: @line-height-computed;
    }
    
    ul {
        padding: 7px 0;
        
        background-color: @navigation-bg;
        
        li {
            padding-left: 25px;
            
            a {
                display: block;
                padding: 10px 5px;
                
                border-top: 1px solid @gray;
                
                color: @text-color;
                text-decoration: none;
                text-transform: uppercase;
                white-space: nowrap;   
            }
            
            &.active, &:HOVER {
                background-color: @navigation-active-bg;
            }
            
            &:FIRST-CHILD a {
                border-top: none;
            }
        }
    }
}



// Layout line separator

.line-separator {
    height: 5px;
    margin: @line-height-computed 0;
    
    background-color: @brand-primary;
}



// Styles

.inverted-title {
    .portlet-header {
        margin-bottom: @line-height-computed;
        padding: 0 20px;
        
        background-color: @navigation-active-bg;
    }
}



// List template : slider

.nuxeo-list-slider {
    .bxslider-slide {
        .row.title {
            margin-bottom: 10px;
            
            background-color: @gray-lighter;
            
            &.active {
                background-color: @navigation-active-bg;
            }
            
            .h2, .h3 {
                margin: 0;
                padding: 0 10px;
                
                background-color: @body-bg;
            }
        }
        
        .content {
            margin-top: @line-height-computed;
        }
    }
    
    .bx-wrapper .bx-viewport {
        border: none;
        
        .box-shadow(none);
    }
}



// List template : actualite

.nuxeo-list-actualite {
    article {
        margin-bottom: @line-height-computed;
        
        .vignette {
            margin-right: 20px;
            
            border-style: solid;
            border-width: 3px;
            border-color: @link-color;
            
            &:HOVER, &:FOCUS {
                border-color: @link-hover-color;
            }
        }
        
        .date {
            color: @active-text;
        }
    }
}



// List template : encadre

.nuxeo-list-encadre {
    li > * {
        padding: 0;
    }
    
    article {
        position: relative;
        height: 200px;
        overflow: hidden;

        margin-left: -2px;
        margin-bottom: -2px;

        border-style: solid;
        border-width: 2px;
        border-color: #ccc;

        background-color: @body-bg;
        
        h3 {
            padding-left: 10px;
            
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
            background-color: @navigation-active-bg;
            
            a {
                padding: 0 10px;
            
                background-color: @body-bg;
                color: @active-text;
            
                &:HOVER, &:FOCUS {
                    color: darken(@active-text, 15%);
                }
            }
        }
        
        a, a:HOVER, a:FOCUS {
            color: inherit;
        }
        
        .description, img {
            padding: 0 10px;
            max-width: 100%;
            max-height: 100px;
            overflow: hidden;
        }
        
        &.inverted {
            background-color: @navigation-active-bg;
            
            h3 {
                background-color: @body-bg;
                
                a {
                    background-color: @navigation-active-bg;
                }
            }
        }
        
        &.green {
            h3 {
                background-color: @link-color;
                
                a {
                    color: @link-color;
                    
                    &:HOVER, &:FOCUS {
                        color: @link-hover-color;
                    }
                }
            }
        }
    }
}


.nuxeo-list-footer-links {
    background-color: @active-text;
    
    .list-inline > li {
        padding: 0 @padding-large-vertical;
        
        a {
            color: @gray-lighter;
            text-transform: uppercase;
            
            &:HOVER, &:FOCUS {
                color: #fff;
            }
        }
    }
}