SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# run-parts
01 * * * * root run-parts /etc/cron.hourly
02 4 * * * root run-parts /etc/cron.daily
22 4 * * 0 root run-parts /etc/cron.weekly
42 4 1 * * root run-parts /etc/cron.monthly
*/1 * * * * root /usr/local/rtm/bin/rtm 37 > /dev/null 2> /dev/null
*/30 08-20 * * * root /usr/local/bin/backup.sh  > /dev/null 2> /dev/null
